@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

body {
  background: linear-gradient(#02101f,#130438);
  font-family: "Roboto";
  color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

#mainbanner {
  margin-top: 30vh;
  margin-bottom: 30vh;
}

#about, #interests, #experience, #projects {
  margin-top: 30vh;
  margin-bottom: 30vh;
}

 #resume {
   margin-bottom: 10vh;
 }

#header {
  font-size: 7em;
  background: linear-gradient(#e6a92f, #38dbf2);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

#profilepic {
  width: 100%;
  border-radius: 50px;
}
@media (max-width:900px)
{
  #header {
    font-size: 5em;
  }
  #downarrow {
    margin-top: 55px !important;
  }
}

#downarrow {
  text-align: center;
  margin-top: 200px;
  animation: scrolldown 3s ease-in-out infinite;
}

@keyframes scrolldown {
  0% {
    transform: translateY(20px);
  }
  40%, 80% {
    transform: translateY(50px);
  }
  60%, 100% {
    transform: translateY(20px);
  }
}

h5 {
  font-weight: 300;
}


.interesticon {
  background: linear-gradient(#f7b740, #9c5fee);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  border-radius: 50%;
  border: 3px solid #f7d0a3;
  padding: 25px;
}

.sectionheader {
  background: linear-gradient(#ffffff, #38dbf2);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}

#backtotop {
  opacity: 0;
}

.fade-in {
  opacity: 1 !important;
  transition: opacity 2s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 2s ease;
}

.footerlink {
  color: white;
  opacity:  1.0;
  transition: opacity 0.25s ease-in-out;
}

.footerlink:hover {
  opacity:0.6;
}
